<div class="container" style="padding-top:50px;">
<div class="contactForm">
<div class="card">
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <h2>Update User</h2>
    <%= form_tag edit_user_path do |user| %>
      <div class="form-group">
        <%=email_field_tag :prev_email,"",placeholder:"Previous Email",class: "form-control" %>
      </div>
      <div class="form-group">
        <%= email_field_tag :email,"",placeholder:"New Email",class:"form-control" %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password,"",placeholder:"Password (6 characters minimum)",class: "form-control"%>
      </div>
      <div class="field">
        <%=password_field_tag :Password_confirmation,"",placeholder:"Password confirmation",class: "form-control" %>
      </div>
      <div class="actions text-center">
        <%= submit_tag "Edit User",class: "btn btn-theme"  %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Back',panel_path,class: "btn btn-default" %>
</div>
</div>
</div>
</div>
