<body style="padding-top:60px;">
<h2>Candidate Details</h2>
<div class="table-responsive table-bordered">
<table class="table">
  <thead>
    <tr>
      <th>Registration Number</th>
      <th>Name</th>
      <th>state</th>
      <th>Branch</th>
      <th>Date of registration</th>
      <th>Date of closure</th>
      <th>Status</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @candidate_details.each do |candidate_detail| %>
      <tr>
        <td><%= candidate_detail.reg_no %></td>
        <td><%= candidate_detail.name %></td>
        <td><%= candidate_detail.state %></td>
        <td><%= candidate_detail.branch %></td>
	<td><%= candidate_detail.DOR %></td>
	<td><%= candidate_detail.DOC %></td>
	<td><%= candidate_detail.remarks_mobility %></td>
	<td><%= candidate_detail.status %></td>
        <td><%= link_to 'Read', candidate_detail,class:"btn btn-default" %>
        | <%= link_to 'Update', edit_candidate_detail_path(candidate_detail),class:"btn btn-info" %>
        | <%= link_to 'Delete', candidate_detail, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="text-center">
<%= link_to 'Create', new_candidate_detail_path,class:"btn btn-default"%> |
<%= link_to 'Filter',filter_path,class:"btn btn-default"%>
  <%if current_user && current_user.admin %>
    | <%=link_to "Admin Panel", panel_path,class: "btn btn-default" %>
  <%end %>
</div>
</body>
<style>
td,th{
font-size:15px;
}
</style>
